.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.v-modal {
    background: #fff;
}

.el-dialog {
    box-shadow: none;
}

.el-dialog__body {
    padding-top: 0;
}

.edit-panel .CodeMirror {
    height: calc(100vh - 66px);
}

.message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 1000;
}